<div>
    <dl>
      <dt>Title</dt>
      <dd><input class="form-control" type="text" [(ngModel)]="movie.title"></dd>
      <dt>Directors</dt>
      <dd><input class="form-control" type="text" [(ngModel)]="movie.directors"></dd>
      <dt>Year</dt>
      <dd><input class="form-control" type="number" [(ngModel)]="movie.year"></dd>
      <dt>Description</dt>
      <dd><textarea class="form-control" rows="3" cols="33" [(ngModel)]="movie.description"></textarea></dd>
    </dl>
    <button type="button" class="btn btn-primary mx-2" (click)="apply()">Apply</button>
    <button type="button" class="btn btn-secondary mx-2" (click)="create()">Create</button>
</div>
