<div class="container">
    <h1>This should be a reactive form</h1>
    <form>
      
      <fieldset>
        <!--Firstname-->
        <div class="form-group">
          <label>Firstname:</label>
          <input class="form-control" type="text" name="firstname" id="firstname">
          <div style="display:none" class="alert alert-danger">
            <div>Please enter a name.</div>
            <div>Insert at least 4 characters.</div>
            <div>Only use chars of: a-z, A-Z," ".</div>
          </div>
        </div>
        <!--lastname-->
        <div class="form-group">
          <label>Lastname:</label>
          <input class="form-control" type="text" name="lastname" id="lastname">
        </div>
      </fieldset>
  
      <fieldset>
        <!--E-Mail-->
        <div class="form-group">
          <label>E-Mail:</label>
          <input class="form-control" type="text" name="eMail" id="eMail">
        </div>
      </fieldset>
  
      <fieldset>
          <!--Password-->
          <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="text" name="password" id="password">
            <div style="display:none" class="alert alert-danger">
                <div>Please enter a password.</div>
                <div>Enter at least 8 characters.</div>
              </div>
          </div>
          <!--Password-Repeat-->
          <div class="form-group">
            <label>Repeat Password:</label>
            <input class="form-control" type="text" name="passwordRepeat" id="passwordRepeat">
            <div style="display:none" class="alert alert-danger">
              No match!
            </div>
          </div>
      </fieldset>
      
      <div class="form-group"> <!-- Submit Button !-->
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>	
    </form>
  </div>  